@model PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row">
    <div class="col-md-4 offset-md-4" style="padding: 20px; background-color:#fff; margin-top:10px; margin-bottom:10px;">

        @if (ViewBag.status == true)
        {

            <div class="alert alert-info">Belirttiğiniz e-posta adresi sistemimizde bulunması halinde şifre yenileme linki e-posta adresinize gönderilecektir. Lütfen e-postanızı kontrol ediniz.</div>

        }
        else

        {

            <h4>Şifremi Unuttum</h4>
            <hr />
            <div class="alert alert-info">
                Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız.
                Şifre değiştirme linkini e-posta adresinize göndereceğiz.
            </div>
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="text-align:right;">
                    <input type="submit" value="Şifremi Yenile" class="btn btn-primary" style=" background: #644BD7; border-radius: 4px;height: 36px;align-items: center;color: #FFFFFF;line-height: 14px;  letter-spacing: 0.01em;padding: 0 15px;font-size: 14px;" />
                </div>
            </form>

        }

    </div>
</div>