@page "/hakkimizda"

@model SiteDeals.MVCWebUI.Areas.Identity.Pages.Static.AboutUsModel
@{
}


<div class="row">
Kampanyan, tüketiciyi doğru ürün, doğru satıcı ve doğru fiyatla buluşturan bir platformdur.
2022 yılında İstanbul'da kurulan ve alışverişçilere en ucuz fiyatları sunmayı amaçlayan Kampanyan, Türkiye'de hızla büyüyen e-ticaret sektörünün referans merkezi olmayı ilke edinerek çalışma hayatına başlamıştır.

Kampanyan.com size aşağıdaki hizmetleri ve faydaları sağlar:

- Ürünlerin mağazalardaki fiyatlarını listeleyerek en düşük fiyatı bulmanıza ve böylece tasarruf ederek bütçenizi korumanıza yardımcı olur.

- İndirimdeki mağaza fiyatlarını tek sayfada göstererek sizi mağazalar arasında dolaşma zahmetinden kurtarır ve size zaman kazandırır.

- Ürünleri satın almadan önce nelere dikkat etmeniz gerektiğine dair sizi bilgilendirerek rehberlik hizmeti sağlar.

- İndirime giren ürünler hakkında detaylı bilgi ve içerikleri hizmetinize sunarak bilinçli alışveriş yapmanıza imkan sağlar.

- İndirime giren ürünler hakkında bilgi edinmenizi ve fırsatları kaçırmamanızı sağlar.

- Sunduğu detaylı filtreleme seçenekleri sayesinde ihtiyacınız olan doğru ürünleri kolayca bulmanızı sağlar.

Kampanyan.com’da kullanıcılara sunulan tüm hizmetler ücretsizdir. Kampanyan.com ürünlerin satışını yapan mağazaları listelemektedir; kesinlikle ürün satışı yapmamaktadır.
</div>